/*********************************
5.1 notes Slider
*********************************/

.notes_slider_container
{
	width: 100%;
	height: 100%;
}
.notes_slide
{
	width: 100%;
	height: 100%;
}
.notes_slide_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.notes_slide_container
{
	width: 90%;
	height: auto;
  top: 29%;
  background-color: rgba(255, 255, 255, 0.801);
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
}
#text-notes
{
  color: rgb(0, 0, 0);
  padding-top: 25px;
}
.notes_filtro input{
  width: 70%;
  height: 25px;
  text-align: center;
  border:none;
}
.save-note input[type="submit"]{
	background: red;
	border-radius: 30px;
	cursor: pointer;
	width: 100px;
	height: 30px;
  border:none;
  margin-top: 70%;
  margin-left: -80px;
}
.cancel input[type="submit"]{
	background: #26A0DA;
	border-radius: 30px;
	cursor: pointer;
	width: 100px;
	height: 30px;
  border:none;
  margin-top: 70%;
}
.notes_filtro{
  margin-top:15px;
}
.notes_box_title{
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.tables-notes{
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.678) ;
  overflow-x:auto;
}
select {
  background:white;
  width: 70%;
  height: 25px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  color: rgb(109, 109, 109);
  border: none;
}
select:hover {
  border:1.5px solid #26A0DA;
}
.diseño-table-notes{
  width:95%;
  margin:0 auto;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}
#principal{
  border-bottom: 2px solid #26A0DA;
  text-align: center;
  color: black;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dfdfdf;
}
.diseño-table-notes table td{
  text-align: center;
}
.diseño-table-notes table td input{
  width: 30px;
  border: none;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
#nombre{
  width: 290px!important;
  text-align: center;
}
#notas{
  width: 80px;
}